BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4

BreakBeforeBraces: Attach
NamespaceIndentation: None
FixNamespaceComments: true

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveBitFields: None

SortIncludes: CaseSensitive
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: false
Cpp11BracedListStyle: true

---
Language: Json
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakArrays: false
SpacesInContainerLiterals: false
