[submodule "external/VkSmol"]
	path = external/VkSmol
	url = https://github.com/AntoninGranados/VkSmol.git
[submodule "external/nfd"]
	path = external/nfd
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
